.btn{
    background: #99862A;
    width: 182px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    &_big{
        width: 254px; 
    }

}