.promo{
    height: 100vh;
    background: url("../img/bgc.png") center (center/cover) no-repeat;
    padding-top: 30px;
    position: relative;
    &__contacts{
        display: flex;
        justify-content: space-between;
    }
    &__address, &__phone{
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        color: #FFFFFF;
    }
    &__menu{
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: 47px;
        list-style-type: none;
        justify-content: center;
        justify-items: center;
        align-items: center;
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        li{
            border-right: 1px solid #FFFFFF;
            padding: 12px 100px;
            &:last-of-type{
                border-right: none;
            }
        }
        a{
            color: #FFFFFF;
        }    
    }
    &__buttons{
        position: absolute;
        bottom: 150px;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        grid-template-columns: repeat(2, 182px);
        grid-template-rows: 50px;
        gap: 30px;
        justify-items: center;
        justify-content: center;
        .btn{
            &:hover{
                transition: all 0.8s;
                box-shadow:6px 5px 6px 3px white ;
            }
            &:active{
                border: 2px solid #18cc90;
            }
            &:visited{
                border: none;
            }
        }
    }

}